@import "../scss-variables";

.prefer-number-email{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p{
    color: white;
    margin-top: 32px;
    font-size: 26px;
    margin-bottom: 12px;
    margin-left: -102px;
  }
  button{
    background: none;
    border: none;
    color: white;
    font-size: 26px;
    opacity: .8;
    position: relative;
    margin-right: 80px;
    cursor: pointer;
    padding-left: 32px;


    &:focus{
      border: none;
      outline: none;
    }

    &::before{
      content: ' ';
      position: absolute;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background-color: #cacaca;
      top: calc(50% - 9px);
      left: 0;
    }
  }
  .active-choice{
    opacity: 1;
    &::before{
      background-color: $cta-color;
    }
  }
}