// Colors!
// Dark background gradient
$dark-background-gradient: linear-gradient(90.71deg, #0A1024 0.47%, #0A1127 99.74%);
// Click this bitch - sacred color
$cta-color: #FD5D6F;
// Fill that motherfucking negative space
$neutral-gray: #B4BEC6;
// Great highlight color
$primary-orange: #FFA167;
// Perfect for backgrounds
$light-gray: #F3F5F6;


// Text Colors
$dark-text-color: #0A1025;
